{% extends '::base_admin.html.twig' %}
{% block fos_user_content %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">List des parcs</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">

                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Description</th>
                        <th>Adresse</th>

                        <th>S</th>
                        <th>M</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for parc in parcs %}
                        <tr>
                            <td>{{ parc.nom }}</td>
                            <td>{{ parc.decription[:50] }}(..)</td>
                            <td>{{ parc.adresse  }} </td>


                            <td><span class="label label-info"><a href="{{ path('supprimerparc', { 'id': parc.id }) }}">Supprimer</a></span></td>
                            <td><span class="label label-info"> <a href="{{ path('modifierparc', { 'id': parc.id }) }}">Modifier</a></span></td>




                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- /.table-responsive -->
        </div>




        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="{{ path('ajouterparc') }}">Ajouter un parc</a>

        </div>
        <!-- /.box-footer -->
    </div>
{% endblock %}