{% extends '::base_admin.html.twig' %}
{% block fos_user_content %}

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">List des Articles</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">

                <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Categorie</th>
                        <th>Contenu</th>

                        <th>M</th>
                        <th>S</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articles %}
                        <tr>
                            <td>{{ article.titre }}</td>
                            <td>{{ article.categorie }}</td>
                            <td>{{ article.contenu [:50] }} (...)</td>
                            <td><span class="label label-info"> <a href="{{ path('modifierarticle', { 'id': article.id }) }}">Modifier</a></span></td>
                            <td><span class="label label-info"><a href="{{ path('supprimerarticle', { 'id': article.id }) }}">Supprimer</a></span></td>


                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- /.table-responsive -->
        </div>




        <!-- /.box-body -->
        <div class="box-footer clearfix">
            <a href="{{ path('ajouterarticle') }}">Ajouter un article</a>

        </div>
        <!-- /.box-footer -->
    </div>
{% endblock %}